*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    box-sizing: border-box;
    overflow-y: hidden;
}
nav{
    margin-top: 50px;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 10% 0% 10%;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    position: relative;
}
ul li a{
    display: block;
    padding: 30px;
    color:hsl(230, 29%, 20%);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Barlow Condensed', sans-serif;
}
ul li ul.drop li{
    display: block;
}
ul li ul.drop{
    width: 100%;
    background:  hsl(230, 29%, 20%);
    position: absolute;
    z-index: 999;
    display: none;
}
ul li a:hover{
    text-decoration: underline;
    cursor: pointer;
}
ul li:hover ul.drop{
    display: block;
}
.d{
    display: none;
}
.log a{
    color: hsl(231, 7%, 65%);
}
.main{
    display: flex;
    padding: 0% 0% 0% 10%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.info .new{
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 5px;
    margin-bottom: 40px;
}
.info .new span{
    letter-spacing: normal;
    background:  hsl(230, 29%, 20%);
    color: hsl(207, 33%, 95%);
    font-weight: 700;
    padding: 5px 15px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.info h1{
    font-size: 65px;
    font-family: 'Barlow Condensed', sans-serif;
    text-transform: uppercase;
    margin-bottom: 30px;
    color:  hsl(230, 29%, 20%);
}
.info p{
    font-size: 20px;
    font-family: 'Barlow', sans-serif;
    margin-bottom: 80px;
}
.btns{
    display: flex;
    align-items: center;
}
.btns .btn1{
    display: inline-block;
    background-color: hsl(0, 100%, 68%);
    color: hsl(207, 33%, 95%);
    padding: 15px 35px;
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    text-decoration: none;
    font-size: 18px;
    border-radius: 8px;
    margin-right: 35px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.btns .btn2{
    display: inline-block;
    font-size: 18px;
    color: hsl(231, 7%, 65%);
    text-transform: uppercase;
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 5px;
    text-decoration: none;
}
.btns .btn2:hover{
    cursor: pointer;
}
.btns .btn1:hover{
    cursor: pointer;
}
.main .img{
    width: 1000px;
    height: 500px;
    background-image: url(./images/illustration-devices.svg);
    background-position-x: 25px;
    background-repeat: no-repeat;
    background-size: cover;
}



/* media query */
@media (max-width: 375px) {
    ul{
        display: none;
    }
    .d{
        display: block;
    }
    .box{
        background:hsl(207, 33%, 95%);
        border-bottom-left-radius: 70px;
        width: 200px;
        position: absolute;
        z-index: -1;
        left: 175px;
        bottom: 330px;
        height: 700px;
    }
    nav{
        margin-top: 10px;
        box-sizing: border-box;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0% 6% 0% 10%;
    }
    .main{
        display: flex;
        flex-wrap: wrap-reverse;
        padding: 0% 0% 0% 8%;
        box-sizing: border-box;
        margin-top: 40px;
    }
    .main .img{
        width: 375px;
        height: 200px;
        background-image: url(./images/illustration-devices.svg);
        background-position: -10px;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .info{
        margin-top: 65px;
    }
    .info .new{
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 5px;
        margin-bottom: 20px;
    }
    .info .new span{
        letter-spacing: normal;
        background:  hsl(230, 29%, 20%);
        color: hsl(207, 33%, 95%);
        font-weight: 700;
        padding: 5px 12px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    .info h1{
        font-size: 40px;
        font-family: 'Barlow Condensed', sans-serif;
        text-transform: uppercase;
        margin-bottom: 15px;
    }
    .info p{
        font-size: 18px;
        font-family: 'Barlow', sans-serif;
        margin-bottom: 25px;
    }
    .btns .btn1{
        display: inline-block;
        background-color: hsl(0, 100%, 68%);
        color: hsl(207, 33%, 95%);
        padding: 10px 15px;
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        font-weight: 700;
        text-decoration: none;
        font-size: 14px;
        border-radius: 8px;
        margin-right: 12px;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        -ms-border-radius: 8px;
        -o-border-radius: 8px;
    }
    .btns .btn2{
        display: inline-block;
        font-size: 14px;
        color: hsl(231, 7%, 65%);
        text-transform: uppercase;
        font-family: 'Barlow Condensed', sans-serif;
        text-decoration: none;
    }
    ul li a{
        display: block;
        padding: 20px;
        color:hsl(230, 29%, 20%);
        text-decoration: none;
        text-align: center;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        font-family: 'Barlow Condensed', sans-serif;
    }
    ul li ul.drop li{
        display: block;
    }
    ul li ul.drop{
        width: 130%;
        background:  hsl(207, 33%, 95%);
        position: absolute;
        z-index: 999;
        display: none;
    }
}